* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2A1340;
  --secondary-color: #f2f2f2;
  --like-color: #ff0077;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  background: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  height: fit-content;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg {
  height: 30px;
  width: 30px;
  fill: var(--secondary-color);
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/*------------------*/
/*----Header-------*/
/*----------------*/

#header {
  margin: 40px 0;
  width: 800px;
  height: 80px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary-color);
  border-radius: 50px;
  font-size: 20px;
  margin-left: 10px;

}



#header img {
  width: 10%;
  object-fit: contain;
}

#header ul {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#header ul a {
  color: var(--primary-color);
}

#header ul .user {
  width: 10%;
}

#header svg {
  width: 40px;
  height: 40px;
  fill: var(--primary-color);
}

/*----------------*/
/*----Search------*/
/*----------------*/

.search {
  width: 600px;
  margin-bottom: 40px;
}

.search .searchInput {
  position: relative;
  height: 50px;
  margin-bottom: 10px;
}

.search input[type="text"] {
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-left: 50px;
  border-radius: 50px;
  border: none;
  background: var(--secondary-color);
  font-size: 20px;
  color: var(--primary-color);
}

.search button {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.search button svg {
  fill: var(--primary-color);
}

.search .searchFilter {
  display: flex;
  align-items: center;
  gap: 40px;
}

.search .searchFilter select {
  padding: 10px;
  background: var(--secondary-color);
  border-radius: 50px;
}

/* ---------------- */
/* ----StageItem--- */
/* ---------------- */

.stageList {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.stageItem {
  position: relative;
  width: 800px;
  height: 300px;
  display: flex;
  align-items: center;
  gap: 20px;
  background: var(--secondary-color);
  border-radius: 50px;
  overflow: hidden;
}

.stageItem img {
  width: 40%;
  height: 100%;
  object-fit: cover;
}

.stageItem .stageText {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: var(--primary-color);
}

.stageItem .stageTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.stageItem .stageTitle h3 {
  height: 20%;
  font-size: 40px;
  margin-bottom: 10px;
}

.stageItem .stageTitle h4 {
  height: 10%;
  opacity: 0.7;
  font-size: 15px;
  margin-bottom: 20px;
}

.stageItem .stageTitle p {
  height: 70%;
  font-size: 15px;
}

.stageItem .stageTitle svg {
  fill: var(--primary-color);
}

.stageItem .like {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  border-radius: 50%;
}

.stageItem .stars {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 40px;
  padding: 20px;
  background: var(--primary-color);
  border-radius: 50px;
}

.stageItem .stars p {
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 20px;
  opacity: 0.7;
}

.stageItem .stars svg {
  height: 30px;
  width: 30px;
  fill: orange;
}

.stageItem .like svg {
  fill: var(--like-color);
}



/*----------------*/
/*----Login--------*/
/*----------------*/

form {
  height: calc(100vh - 160px - 140px );
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

form h1 {
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

form div {
  width: 100%;
  position: relative;
}

.formInput {
  background-color: var(--secondary-color);
  border-radius: 50px;
  padding: 20px;
  padding-left: 60px;
  color: var(--primary-color);
  outline: none;
  width: 100%;
  height: 50px;
  font-size: 20px;
}

form div svg {
  position: absolute;
  top: 25px;
  left: 20px;
  transform: translateY(-50%);
  fill: var(--primary-color);
  opacity: 0.7;
}

form a {
  width: 100%;
  margin-right: 20px;
  font-size: 15px;
  text-align: right;
  color: var(--secondary-color);
  opacity: 0.7;
}

form button {
  border: var(--secondary-color) solid 1px;
  border-radius: 50px;
  padding: 10px 20px;
  color: var(--secondary-color);
  margin-top: 20px;
  width: 100%;
  font-size:20px;
  text-transform: uppercase;
}

label {
  position: relative;
}

input {
  padding: 10px 30px;
}


/*----------------*/
/*----Footer------*/
/*----------------*/

footer {
  margin-top: 40px;
  width: 800px;
  height: 100px;
  background: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

footer p {
  color: var(--primary-color);
  font-size: 20px;
}