* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3c1053;
  --secondary-color: #f2f2f2;
  --like-color: #ff0077;
  --primary-width: 1150px;
  --secondary-width: 800px;

}

html {
  height: 100vh;
  width: 100vw;
}

body {
  background: var(--primary-color);
  color: var(--secondary-color);
  font-family: 'Product Sans', sans-serif;
  height: fit-content;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg {
  height: 30px;
  width: 30px;
  fill: var(--secondary-color);
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/*------------------*/
/*----Header-------*/
/*----------------*/




#header img {
  width: 100%;
  object-fit: contain;
}

#header ul {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
  margin-left: 30px;
}

#header ul a {
  color: var(--primary-color);
}

#header a {
  width: 10%;
}

#header svg {
  width: 40px;
  height: 40px;
  fill: var(--primary-color);
  margin-left: 40px;
}

#header {
  margin: 40px 0;
  width: var(--primary-width);
  height: 80px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary-color);
  border-radius: 50px;
  font-size: 25px;
  font-weight: bold;

}


/*----------------*/
/*----Search------*/
/*----------------*/

.search {
  width: var(--secondary-width);
  margin-bottom: 40px;
}

.search .searchInput {
  position: relative;
  height: 50px;
  margin-bottom: 10px;
}

.search input[type="text"] {
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-left: 50px;
  border-radius: 50px;
  border: none;
  background: var(--secondary-color);
  font-size: 20px;
  color: var(--primary-color);
}

.search button {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.search button svg {
  fill: var(--primary-color);
}

.search .searchFilter {
  display: flex;
  align-items: center;
  gap: 40px;
}

.search .searchFilter select {
  padding: 10px;
  background: var(--secondary-color);
  border-radius: 50px;
}

/* ---------------- */
/* ----StageItem--- */
/* ---------------- */

.list {
  width: var(--primary-width);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.itemList {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  background: var(--secondary-color);
  border-radius: 50px;
  overflow: hidden;
}

.itemList img {
  width: 40%;
  height: 100%;
  object-fit: cover;
}

.itemList .itemText {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: var(--primary-color);
}

.itemList .itemTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
}

.itemList .itemTitle span {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.itemList .itemTitle a h3 {
  color: var(--primary-color);
  height: 20%;
  font-size: 35px;
}

.itemList .itemTitle a h4 {
  color: var(--primary-color);
  font-size: 15px;
}

.itemList .itemTitle span div {
  display: flex;
  gap: 20px;
}

.itemList .itemTitle span div p {
  display: flex;
  justify-content: center;
  min-width: 60px;
  font-size: 12px;
  opacity: 0.7;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 50px;
}

.itemList .itemTitle p {
  height: 70%;
  font-size: 15px;
}

.itemList .itemTitle svg {
  fill: var(--primary-color);
}

.itemList .stars {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 40px;
  padding: 20px;
  background: var(--primary-color);
  border-radius: 50px;
}

.itemList .stars p {
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 20px;
  opacity: 0.7;
}

.itemList .stars svg {
  height: 30px;
  width: 30px;
  fill: orange;
}

.itemList .like {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  border-radius: 50%;
}

.itemList .like svg {
  width: 25px;
  height: 25px;
  fill: var(--like-color);
  animation: identifier 0.2s ease-out;
}

.itemList .liked svg {
  animation: identifier 0.2s ease-out;
}

@keyframes identifier {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

/*----------------*/
/*----Login--------*/
/*----------------*/

form {
  height: 100vh;
  width: var(--secondary-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input:focus,
input:hover {
  border: 3px solid;
  border-color: #c4a5ff;
  transition: border 0.3s steps(10);
}

form h1 {
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

#connectBtn:hover {
  background-color: #c4a5ff;
  color: white;
  transition: background-color 0.3s steps(10);
}


form div {
  width: 100%;
  position: relative;
}

.formInput {
  background-color: var(--secondary-color);
  border-radius: 50px;
  padding: 20px;
  padding-left: 60px;
  color: var(--primary-color);
  outline: none;
  width: 100%;
  height: 50px;
  font-size: 20px;
}


form div svg {
  position: absolute;
  top: 25px;
  left: 20px;
  transform: translateY(-50%);
  fill: var(--primary-color);
  opacity: 0.7;
}

form a {
  width: 100%;
  margin-right: 20px;
  font-size: 15px;
  text-align: right;
  color: var(--secondary-color);
  opacity: 0.7;
}

form input[type="submit"] {
  border: var(--secondary-color) solid 1px;
  border-radius: 50px;
  padding: 10px 20px;
  background: var(--primary-color);
  color: var(--secondary-color);
  margin-top: 20px;
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
}

label {
  position: relative;
}

input {
  padding: 10px 30px;
}




input:valid {
  border: 3px solid rgb(176, 236, 176);
}

input:invalid {
  border: 3px solid rgb(221, 80, 80);
}


/* ---------------- */
/* ----USER-------- */
/* ---------------- */

.userDesc {
  margin-top: 20px;
  min-height: calc(100vh - 160px - 140px);
  width: var(--secondary-width);
  display: flex;
  flex-wrap: wrap;
  background-color: var(--secondary-color);
  padding: 40px;
  border-radius: 50px;
  color: var(--primary-color);
}

.userDesc h1 {
  width: 100%;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.userDesc img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: var(--primary-color);
  margin: 20px 60px 40px 0px;
  object-fit: cover;
}

.userDesc div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border-left: var(--primary-color) solid 4px;
  padding-left: 60px;
  margin-bottom: 40px;
}

.userDesc label {
  width: 100%;
  font-size: 20px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.userDesc h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0;
  text-decoration: underline;
}

.userDesc input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  font-size: 20px;
  font-weight: 300;
  padding: 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.userDesc span {
  position: relative;
  font-size: 20px;
  font-weight: 300;
  width: 100%;
  padding: 20px;
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50px;
}

/*----------------*/
/*----Footer------*/
/*----------------*/
footer {
  margin-top: 40px;
  width: var(--primary-width);
  color: var(--primary-color);
  height: 80px;
  background: var(--secondary-color);
  display: flex;
  gap: 20px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  font-size: 15px;
  font-weight: 100px;
  justify-content: space-between;
}

footer a {
  font-size: 20px;
  color: var(--primary-color);
  margin-left: 20px;
  text-transform: uppercase;
  padding: 10px;
  font-weight: 300px;
  margin-top: 30px;
}

footer p {
  font-size: 20px;
  color: var(--primary-color);
  text-transform: uppercase;
  padding: 10px;
  font-weight: 300px;
  margin-top: 30px;
}


/*----------------*/
/*----Profile--------*/
/*----------------*/

input.CV,
input.LM {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: var(--secondary-width);
  background-color: #c4a5ff;
  border-radius: 50px;
}

label.CV,
label.LM {
  display: flex;
  flex-direction: column;
  /* Modification apportée */
  align-items: center;
  justify-content: center;
}

#userprofile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: var(--secondary-width);
  height: calc(100vh - 160px - 140px);

}



/*----------------*/
/*----Contact--------*/
/*----------------*/

#contact {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 25px;
  width: var(--secondary-width);
  height: calc(100vh - 160px - 140px);
}

#contact {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f8f8f8;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
}

#contact h1 {
  margin-top: -70px;
  font-size: 30px;
  text-transform: uppercase;

}

#contact h2 {
  font-size: 24px;

}

#contact p {
font-weight: 300px;
}

#contact ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#contact a {
  color: #000;
}

#contact a:hover {
  color: #666;
}


/*----------------*/
/*----Pagination--*/
/*----------------*/

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.pagination-button {
  margin: 0 0.5em;
  padding: 0.5em;
  background-color: #e6e6e6;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.pagination-button:hover {
  background-color: #e6e6e6;
}

.pagination-button.active {
  background-color: #007bff;
  color: white;
}

/*----------------*/
/*----Mentions--*/
/*----------------*/

.legal {
  font-size: 16px;
  color: #000000;
  margin: 0;
  padding: 0;
  gap: 100px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: var(--secondary-color);

}

.container h1 {
  margin-top: 10px;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.container ul {
  display: grid;
  gap: 5px;
}

.container p,
.container li {
  display: grid;
  gap: 10px;
}