* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --heightNavBar: 100px;
}

a:hover {
    color: black;
}

html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
}

/* -----------------------Header page--------------------------- */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    width: 100%;
    height: var(--heightNavBar);
    background-color: #00A896;
    box-shadow: black 20px 0px 20px 0px;
}

nav a:focus {
    background: none;
}

nav ul li a, nav h1  {
    color: white;
}

/* -----------------------Main page--------------------------- */

section {
    padding-top: var(--heightNavBar);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h2 {
    margin-top: 40px;
}

section form {

    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;
}

section form input {
    height: 50px;
    border-radius: 10px;
    padding: 10px;
}

section form input:nth-child(1) {
    width: 70%;
}

section form input:nth-child(2) {
    width: fit-content;
    background-color: #00A896;
    border: 0;
}

.jobList {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    list-style-type: none;
}

.jobList a {
    text-decoration: none;
    width: 500px;
}

.jobList a li {
    list-style-type: none;
    margin: 10px;
    width: 100%;
    max-width: 500px;
    height: 300px;
    background: #00A896;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.jobList a li div {
    padding: 20px;
    background-image: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg);
}

.jobList a li div h3, .jobList a li div h4 {
    margin-bottom: 0;
}

.jobList a li p {
    padding: 20px;
    color: white;
}

/* -----------------------Formulaire connexion--------------------------- */

.login {
    padding-top: var(--heightNavBar);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login h1 {
    margin-bottom: 0;
}
